(if (+ 1 1) (+ 2 2) (+ 3 3)); out="4" 
(if (+ 1 -1) (+ 2 2) (+ 3 3)); out="6" 
(if "1" (+ 2 2) (+ 3 3)); out="4" 
(if "0" (+ 2 2) (+ 3 3)); out="6" 
(set a 1) (if a (+ 2 2) (+ 3 3)); out="4" 
(set a 0) (if a (+ 2 2) (+ 3 3)); out="6" 
(procedure a (+ 1 1)) (if (a) (+ 2 2) (+ 3 3)); out="4" 
(procedure a (+ 1 -1)) (if (a) (+ 2 2) (+ 3 3)); out="6" 
(procedure a b c (+ b c)) (if (a 1 1) (+ 2 2) (+ 3 3)); out="4" 
(procedure a b c (+ b c)) (if (a 1 -1) (+ 2 2) (+ 3 3)); out="6" 
(if "1" ((set a 2) (+ a a)) (+ 3 3)); out="4" 
(if "0" (+ a a) ((set b 3) (+ b b))); out="6" 
